@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
:root{
  --primary: #f55951;
  --secondary: #361d32;
  --white: #ffffff;
}
*{
  margin: 0;
  padding: 0;
}
*,::before,::after{
  box-sizing: border-box;
}
body{
  font-family: 'Rubik';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: var(--white);
  background-color: #543c52;
}
a{
  text-decoration: none;
  color: inherit;
}
img{
  max-width: 100%;
  vertical-align: middle;
}
.site{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.products .item{
  position: relative;
  max-width: 350px;
  padding: 30px;
  background-color: var(--secondary);
  box-shadow: 0 10px 36px 0 rgb(0 0 0 / 16%);
}
.products .item .brand{
  width: 60px;
  height: 40px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iNTEycHgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMiA1MTI7IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iNTEycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnIGlkPSJfeDMyXzMwLW5pa2UiPjxnPjxnIGlkPSJfeDM2XzMtbmlrZV80XyI+PGc+PGc+PGc+PHBhdGggZD0iTTI1NS45NDMsMjM2LjMwNWwtNzkuMjgzLDIwLjgxM2MtMjguMDA0LDYuOTQ3LTUyLjQ5OCwxNi4yMDgtNzYuMTAxLDguMWMtMzIuMDg0LTEzLjg5LTMxLjUxMS01MC4wMzktNy41OTEtODguNDk3ICAgICAgICBjLTQyLjI4OCwzNS4wMDEtMTE4LjM5LDE0Ni45LTE1LjQ2NiwxNTguMjA0YzEzLjExMiwxLjcyNywzNi40NTQtMi44OCw2MS44MS0xMy41NzlsMTE2LjYzMi00OC4wMDJsMjMwLjA1NS05NC4zMTYgICAgICAgIGwtMjAxLjQ3MSw0OS43NTlMMjU1Ljk0MywyMzYuMzA1eiIvPjwvZz48L2c+PC9nPjwvZz48L2c+PC9nPjxnIGlkPSJMYXllcl8xIi8+PC9zdmc+');
  background-size: cover;
  background-position: center;
}